/* === BOOTSTRAP CLASSES === */

.icon-fa {
  width: 20px !important;
}

.table {
  margin-bottom: 0;
}

.table-hover tbody tr {
  transition: background-color 0.5s;
}


/* === CUSTOM CLASSES === */

.custom-body-background {
  background-color: #23153c;
}

.custom-container-background {
  background-color: #ffffff;
}

.custom-date-text {
  font-weight: normal;
}

.custom-img-sm {
  border-radius: .25rem;
  height: 20px;
  width: auto;
}

.custom-info-div {
  align-items: center;
  display: flex;
  height: 210px;
}

.custom-gradient-title {
  background: linear-gradient(to right, #4d16bd 8%, #ff3f81 98%);
  background-clip: text;
  margin-bottom:30px;
  margin-top:30px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-print-color-adjust: exact;
}

.custom-margin-10 {
  margin: 10px;
}

.custom-margin-50 {
  margin: 50px;
}

.custom-margin-icon {
  margin-left: 24px;
}

.custom-photo {
  height: 200px;
  width: auto;
}

.custom-table-title {
  color: #4d16bd;
  font-size: 1.8rem;
}

.custom-text-margin {
  margin-left: 7px;
  margin-right: 3px;
}

.custom-purple-hover {
  color: #4d16bd;
  transition: color 0.5s;
}

tr:hover .custom-purple-hover {
  color: #ff3f81;
}

.custom-technology-color-hover {
  color: #404040;
  transition: color 0.5s;
}

tr:hover .custom-technology-color-hover {
  color: #4d16bd;
}

.ib-div {
  display: inline-block;
}

/* === VANTAJS === */

#vantaJs {
  position: sticky;
  top: 0;
  z-index: -100;
}
